.pascal 
  display: block
  text-align: center

  .pascal__form 
    display: grid
    grid-template-rows: auto
    grid-template-columns: repeat(12, 1fr)
    position: relative
    overflow: hidden
    padding: 20px
    width: 320px
    margin: 0 auto
    text-align: center

    .pascal__label 
      grid-column: span 3
      align-items: center
      font-weight: bold
      margin: 0
      letter-spacing: 0
      padding: 10px
      color: #FFF
      background-color: #0087F5
      border: 3px solid #0087F5

    .pascal__input
      grid-column: span 7
      align-items: center
      padding: 10px
      text-align: left
      border: 3px solid #0087F5
      border-right-width: 0
      font-size: 0.9em
      font-weight: bold

      &:focus,
      &:hover,
      &:active
        border: 3px solid #0087F5
        outline: 0

      &::placeholder
        color: #000
        opacity: 0.3

    .pascal__button
      grid-column: span 2
      align-items: center
      text-align: center
      margin-left: -3px
      padding: 3px 0 0 0
      border: 3px solid #0087F5
      border-left-width: 0
      background-color: #FFF
      color: #082E7F
      cursor: pointer

      @media all and (max-width: 768px)
        margin: 0 0 0 -3px !important

      &:focus,
      &:hover,
      &:active
        border: 3px solid #0087F5
        border-left-width: 0
        outline: 0

      &:hover
        img
          filter: invert(100%) grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg) saturate(700%) contrast(0.7)

      img
        height: 24px
        width: 24px
        display: inline-block
        filter: invert(100%) grayscale(50%) brightness(75%) 

    .pascal__error
      grid-column: span 12
      color: #DB0000
      padding: 10px
      margin-top: 5px
      animation: 0.3s ease-out 0s 1 normal forwards an-showErrorMessage
      font-size: 0.9em

  .pascal__pascal-triangle
    display: inline-block
    width: 100%
    border: 6px solid #0087F5
    margin: 15px auto
    padding: 20px
    font-size: 0.8em
    animation: 0.6s ease-out 0s 1 normal forwards an-showTriangle
    overflow-y: auto
    
    .pascal-triangle__row
      display: flex
      flex-direction: row
      margin: 0 0 -1px 0
      width: 100%
      color: #062F7F
      border: 1px solid #EFEFEF
      font-weight: bold

      &:nth-child(odd)
        background-color: rgba(#EFEFEF, 0.5)

      .pascal-triangle__column
        list-style-type: none
        display: flex
        flex: auto
        justify-content: center
        margin: 0
        border: 2px solid #EFEFEF

        span
          display: inline-block
          padding: 10px
          // width: 100%
          text-align: center
          overflow: hidden

  .pascal__loader
    display: inline-block
    width: 100%
    color: #0087F5

    i
      font-size: 3em
      transform-origin: center
      animation: 1s linear 0s infinite normal forwards an-iconLoad