/*
    Touch scroll
*/
%touch {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

/*
    Typography
*/
%nowrap {
  -ms-word-break: keep-all;
  word-break: keep-all;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  white-space: nowrap;
}

%charwrap {
  -ms-word-break: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  white-space: normal;
}

%wordwrap {
  -ms-word-break: break-word;
  word-break: break-word;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  white-space: normal;
}

%charbreak {
  -ms-word-break: break-all;
  word-break: break-all;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  white-space: normal;
}

%h2 {
  text-align: center;
  display: inline-block;
  width: 100%;
  letter-spacing: -3px;
  margin: 40px 0;
  @include font-family("ContrailOne");
  @include font-weight(bold);
  font-size: 3em;
  line-height: 22px;
}

%grid {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: repeat(12, 1fr);
	position: relative;
  overflow: hidden;
  
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
  }
}